QMainWindow {
    background-color: white;
}

QTabBar:close-button {
    image: url(icons:ic_close.svg)
}

QLabel#FileLabel {
    color: #606060 ;
}

QComboBox {
    border: 1px solid #a9a9a9;
}


QCalendarWidget QToolButton {
    color: black;
}

QCalendarWidget QMenu::item:selected {
    background-color: #ececec;
}


QMenu {
    background-color: #f0f0f0;
}

QMenu::item:selected {
    background-color: #90c8f6;
}

QMenu::item:disabled {
    color: #8393a4;
}

QMenu::item:disabled:selected {
    background-color: #e4e4e4;
}