QPushButton {
    background-color: #ffffff;
    color: #606060;
    border: 2px;
    border-color: #a9a9a9;
    border-style: solid;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
}

QPushButton:hover {
    background-color: #a9a9a9;
    color: white;
}

QPushButton:pressed {
    background-color: #ffffff;
    color: #606060
}