QPushButton {
    background-color: #ffffff;
    color: #606060;
    border: 2px;
    border-color: #000000;
    border-style: plain;
    text-align: left;
    padding: 5px
}

QPushButton:hover {
    background-color: #a9a9a9;
    color: white;
}

QPushButton:pressed {
    background-color: #ffffff;
    color: #606060
}