QWidget#Table {
    background: white;
}

QFrame#CellWidget {
    background: #f8f9fa;
}

QLabel{
    border: none; 
    background-color: #e0e0e0; 
    color: white;
}

QLineEdit {
    background: white; 
    color: black;
}

QHeaderView:section {
    background-color: #f0f0f0;
    color: #444464;
    border-left: 1px solid #ababab;
    border-right: 1px solid #ababab;
}

QHeaderView:section:hover {
    background-color: #e7f0fd
}