/* PB_Save & PB_ReadMode */

QPushButton {
    background: transparent;
    color: #606060;
    border: 0px;
    border-color: #a9a9a9;
    border-style: solid;
    border-radius: 4px;
}

QPushButton::pressed {
    background-color: #a9a9a9;
}

QPushButton::hover {
    background-color: #ececec;
    color: white;
}

QPushButton::checked {
    background-color: #a9a9a9;
}

/* DT_DateTime */

QCalendarWidget {
    background-color: white;
}

QCalendarWidget QToolButton {
    color: black;
}

QCalendarWidget QMenu::item:selected {
    background-color: #ececec;
}